<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShoppingServlet_0</servlet-name>
        <servlet-class>controleur.ShoppingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailPanierPdf</servlet-name>
        <servlet-class>vues.DetailPanierPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>vues.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controleur.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanierServlet</servlet-name>
        <servlet-class>controleur.PanierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddCD</servlet-name>
        <servlet-class>controleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CDAdminServlet</servlet-name>
        <servlet-class>controleur.CDAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controleur.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controleur.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingServlet_0</servlet-name>
        <url-pattern>/ShoppingServlet_0</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailPanierPdf</servlet-name>
        <url-pattern>/DetailPanierPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanierServlet</servlet-name>
        <url-pattern>/PanierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CDAdminServlet</servlet-name>
        <url-pattern>/CDAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>EShop.jsp</welcome-file>
    </welcome-file-list>
</web-app>
